services:
  fastapi:
    build: .
    ports:
      - '8000:8000'
    env_file:
      - .env
    depends_on:
      - mongodb

  mongodb:
    container_name: mongodb_vetplus
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

volumes:
  mongo_data: