name: Generate Vet Plus Client

on:
   push:
      tags:
         - '*.*.*'  # roda quando criar uma tag tipo v1.0.0
   workflow_dispatch:

jobs:
   generate-client:
      runs-on: ubuntu-latest

      steps:
      -  name: Checkout repository
         uses: actions/checkout@v4

      -  name: Set up Python
         uses: actions/setup-python@v5
         with:
            python-version: '3.12'

      -  name: Install backend dependencies
         run: pip install -r requirements.txt

      -  name: Run FastAPI server
         run: nohup uvicorn app.main:app --host 0.0.0.0 --port 8000 & sleep 5

      -  name: Download OpenAPI schema
         run: curl -o openapi.json http://localhost:8000/openapi.json

      -  name: Generate TypeScript client (typescript-fetch)
         uses: openapi-generators/openapigenerator-action@v1
         with:
            generator: typescript-fetch
            openapi-file: openapi.json
            output-dir: ts-client
            command-args: --additional-properties=supportsES6=true,withSeparateModelsAndApi=true,modelPropertyNaming=camelCase

      -  name: Set up npm environment
         uses: actions/setup-node@v4
         with:
            node-version: '20'
            registry-url: 'https://npm.pkg.github.com'

      -  name: Configure npm for GitHub Packages
         run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc
            echo "@${{ github.repository_owner }}:registry=https://npm.pkg.github.com" >> ~/.npmrc

      -  name: Publish to GitHub Packages
         working-directory: ts-client
         run: npm publish --access public