name: Generate Vet Plus Client

on:
   push:
      tags:
         - '*.*.*'
   workflow_dispatch:

permissions:
   contents: write
   packages: write

jobs:
   generate-client:
      runs-on: ubuntu-latest

      steps:
      -  name: Checkout repository
         uses: actions/checkout@v4

      -  name: Set up Python
         uses: actions/setup-python@v5
         with:
            python-version: '3.12'

      -  name: Install backend dependencies
         run: pip install -r requirements.txt

      -  name: Run FastAPI server
         run: |
            nohup fastapi dev app/main.py &
            sleep 10
            curl --retry 5 --retry-delay 2 --retry-connrefused http://localhost:8000/docs

      -  name: Download OpenAPI schema
         run: curl -o openapi.json http://localhost:8000/openapi.json

      -  name: Generate TypeScript client
         uses: openapi-generators/openapitools-generator-action@v1
         with:
            generator: typescript-fetch
            openapi-file: openapi.json
            output-dir: ts-client
            command-args: --additional-properties=supportsES6=true,withSeparateModelsAndApi=true,modelPropertyNaming=camelCase

      -  name: Set package version based on Git Tag
         run: |
            VERSION=$(echo ${GITHUB_REF#refs/tags/} | sed 's/^v//')
            jq --arg v "$VERSION" '.version=$v' typescript-fetch-client/package.json > tmp.$$.json && mv tmp.$$.json ts-client/package.json

      -  name: Set up npm environment
         uses: actions/setup-node@v4
         with:
            node-version: '20'
            registry-url: 'https://npm.pkg.github.com'

      -  name: Install, Pack, and Publish to GitHub Packages
         working-directory: ts-client
         run: |
            npm install
            npm pack
            npm publish --access public
         env:
            NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      -  name: Upload Release Asset
         uses: actions/upload-release-asset@v1
         env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         with:
            upload_url: ${{ github.event.release.upload_url }}
            asset_path: ./ts-client/*.tgz
            asset_name: ${{ github.event.repository.name }}-ts-client-${{ github.ref_name }}.tgz
            asset_content_type: application/gzip